body {
  font-size: 14px;
  font-family: Source Han Sans CN, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, SimSun, sans-serif;
  color: #333;
}

.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}